.action-button.play-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #4caf50; /* Verde para Jugar */
  color: white;
}
.action-button.play-button:hover {
    background-color: #66bb6a;
}

.action-button.wallet-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: var(--color-gold);
  color: #121212;
}
.action-button.wallet-button:hover {
    background-color: #fff;
}